body {
	background-color: #ffcafa;
}
h1 {
	padding-top: 50%;
	font: italic small-caps bold 42px/3 cursive;
}
h2 {
	font-size: 64px ; 
}
p{
	font: italic small-caps bold 42px/3 cursive;
}
img {
	display: block;
  	margin: 0 auto;
    width: 50%;
    height: 50%;
}
footer {
	height: 300px;
}
video {
	margin-top: 30%;
    width: 100%;
    height: 100%;
}
a {
	font: italic small-caps bold 42px/3 cursive;
	position: relative;
}